.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

@media(min-width: 900px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

nav img {
  padding-top: 5px;
}

ul {
  padding-left: 0%;
  margin: 0%;
}

nav li {
  padding: 0px 10px;
}

li::marker {
  content: none;
}

a {
  font-family: 'Markazi Text';
  font-size: 18px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 20%;
  padding-bottom: 40px;
  background-color: #495E57;
  color: white
}

h1 {
  font-family: 'Markazi Text';
  font-style: medium;
  font-size: 64px;
  color: #F4CE14;
  margin: 0;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-size: 48px;
}

h3 {
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 18px;
  margin: 0%;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-size: 16px;
}

button {
  background-color: #F4CE14;
  border-radius: 16px;
  border: #F4CE14;
  width: 200px;
  height: 60px;
  /* font-weight: bold; */
  font-size: 18px;
  font-family: 'Markazi Text';
}

header img {
  width: 40%;
  padding: 5% 0% 5% 5%;
  height: 40%;
  align-self: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  padding: 5% 5% 5% 0;
}

article p {
  flex-basis: 40%;
}

h2 {
  margin: 0%;
}

main {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: repeat(3, 30%);
  grid-template-areas: "title title menu_button"
                        "left center right";
  justify-content: space-between;
  padding: 40px 20%;
}

.card_left{
  grid-area: left;
}

.card_center{
  grid-area: center;
}

.card_right{
  grid-area: right;
}

.text {
  grid-area: text;
}

.card {
  display: grid;
  grid-template-columns: auto 50%;
  grid-template-rows: auto auto 3fr auto;
  grid-template-areas: "food food"
                        "title price"
                        "text text"
                        "order bike";
  background-color: #EDEFEE;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 0% 7% 10% 7%;
 }

.title {
  grid-area: title;
}

main .button {
  grid-area: menu_button;
  justify-self: end;
}

main a {
  grid-area: order;
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 16px;
  align-self: center;
}

.food_photo {
  grid-area: food;
  width: 110%;
  position: relative;
  right: 5%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.bike {
  grid-area: bike;
  width: 25px;
  align-self: end;
}

.price {
  color: #EE9972;
  font-weight: bold;
  justify-self: flex-end;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20%;
  background-color: #495E57;
  color: white;
}

.about article {
  width: 40%;
}

.wrap {
  position: relative;
  width: 60%;
  /* display: flex;
  flex-direction: row;
  justify-items: flex-end; */
}

.img-1 {
  width: inherit;
  position: absolute;
  z-index: 2;
  right: calc(width - 65%);
  top: 120px;
}

.img-2 {
  width: inherit;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 45px;
}

.rating{
  padding: 40px 20%;
}

.col {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 20px;
}

.cell {
  width: 20%;
  background-color: #EDEFEE;
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user{
  width: 40%;
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 20%;
}

