.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

@media(min-width: 900px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

nav img {
  padding-top: 5px;
}

li {
  padding: 0px 10px;
}

li::marker {
  content: none;
}

a {
  font-family: 'Markazi Text';
  font-style: bold;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 15%;
  padding-bottom: 40px;
  background-color: #495E57;
  color: white
}

h1 {
  font-family: 'Markazi Text';
  font-style: medium;
  font-size: 64px;
  color: #F4CE14;
  margin: 0;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-size: 48px;
}

h3 {
  font-family: 'Markazi Text';
  font-style: bold;
  font-size: 18px;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-size: 16px;
}

header img {
  width: 40%;
  padding: 5%;
  height: 40%;
  align-self: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
  padding: 5% 15% 5% 0;
}

article p {
flex-basis: 50%;
}

h2 {
  margin: 0%;
}

main {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: repeat(3, 27%);
  grid-template-areas: "title title menu_button"
                        "left center right";
  justify-content: space-between;
  padding: 40px 15%;
}

.card_left{
  grid-area: left;
}

.card_center{
  grid-area: center;
}

.card_right{
  grid-area: right;
}

.text {
  grid-area: text;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 3fr auto;
  grid-template-areas: "photo photo"
                        "title price"
                        "text text"
                        "button button";
  background-color: #EDEFEE;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 0% 5% 10% 5%;
 }

.title {
  grid-area: title;
}

main .button {
  grid-area: menu_button;
}

main button {
  grid-area: button;
}

.card img {
  width: 110%;
  position: relative;
  right: 5%;
  grid-area: photo;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px 15%;
}
